<mat-card class="">
    <mat-card-header>
        <mat-card-title>
            <h4 class="fw-semibold">Seva Details</h4>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="mt-2">
        <form [formGroup]="sevaForm" #sevalist="ngForm" (ngSubmit)="this.sevaForm.valid && addSeva()" class="example-form row col-12">
            <mat-form-field class="col-2">
                <mat-label>Seva</mat-label>
                <mat-select formControlName="name">
                    @for (seva of this.globalService.getSeva(); track $index) {
                        <mat-option [value]="seva.value">{{seva.label}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-radio-group aria-label="Pick a Calendar" formControlName="calendar" class="col-2 mt-2">
                <mat-radio-button value="english">English</mat-radio-button>
                <mat-radio-button value="hindu">Hindu</mat-radio-button>
            </mat-radio-group>
            <mat-form-field class="col-2">
                <mat-label>Seva date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="performDate">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-2">
                <mat-label>Quantity</mat-label>
                <input matInput type="number" formControlName="quantity" placeholder="Enter Quantity" >
            </mat-form-field>
            <mat-form-field class="col-2">
                <mat-label>Amount Rs</mat-label>
                <input matInput type="number" formControlName="amount" placeholder="Enter Amount" >
            </mat-form-field>
            <div class="col-2 d-flex justify-content-end mt-2">
                <button type="submit" mat-flat-button color="primary" [disabled]="sevaForm.invalid">Add Seva</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table mt-2">
    <!-- Position Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Seva</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="bookingDate">
        <th mat-header-cell *matHeaderCellDef>Seva Date</th>
        <td mat-cell *matCellDef="let element">{{element.bookingDate | date: 'dd/MM/yyyy'}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="performDate">
        <th mat-header-cell *matHeaderCellDef>Perf.Date</th>
        <td mat-cell *matCellDef="let element">{{element.performDate | date: 'dd/MM/yyyy'}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="maasa">
        <th mat-header-cell *matHeaderCellDef>Maasa</th>
        <td mat-cell *matCellDef="let element">{{element.maasa}}</td>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="paksha">
        <th mat-header-cell *matHeaderCellDef>Paksha</th>
        <td mat-cell *matCellDef="let element">{{element.paksha}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="tithi">
        <th mat-header-cell *matHeaderCellDef>Thithi</th>
        <td mat-cell *matCellDef="let element">{{element.tithi}}</td>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element">{{element.amount}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element; let i = index">
            <mat-icon class="mx-2" fontIcon="visibility" matTooltip="View Seva"></mat-icon>
            <mat-icon class="mx-2" fontIcon="edit" matTooltip="Edit Seva" (click)="editSeva(element, i)"></mat-icon>
            <mat-icon class="mx-2" fontIcon="delete" matTooltip="Delete" (click)="deleteSeva(element, i)"></mat-icon>
            <!-- <mat-icon class="mx-2" fontIcon="receipt_long" matTooltip="View Seva"></mat-icon> -->
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
        <th class="mat-cell text-center p-2" [attr.colspan]="displayedColumns.length">
          No Seva found.
        </th>
      </tr>
</table>

<mat-card class="mt-3">
    <mat-card-header>
        <mat-card-title>
            <h4 class="fw-semibold">Seva Kartha Details</h4>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="mt-2">
        <form class="example-form row col-12" #sevaData="ngForm" [formGroup]="sevaDataForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="col-2">
                <mat-label>Mobile Number</mat-label>
                <input matInput type="tel" formControlName="mobile" placeholder="Enter Mobile Number">
            </mat-form-field>
            <mat-form-field class="col-2">
                <mat-label>First Name</mat-label>
                <input matInput type="text" formControlName="firstName" placeholder="Enter First Name" >
            </mat-form-field>
            <mat-form-field class="col-2">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" formControlName="lastName" placeholder="Enter Last Name" >
            </mat-form-field>
            <mat-form-field class="col-2">
                <mat-label>Nakshathra</mat-label>
                <mat-select formControlName="nakshatra">
                    @for (nakshathra of this.globalService.getNakshathras(); track $index) {
                        <mat-option [value]="nakshathra.value">{{nakshathra.label}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-2">
                <mat-label>Gothra</mat-label>
                <mat-select formControlName="gothra">
                    @for (gotras of this.globalService.getGotras(); track $index) {
                        <mat-option [value]="gotras.value">{{gotras.label}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-2">
                <mat-label>Rashi</mat-label>
                <mat-select formControlName="rashi">
                    @for (rashi of this.globalService.getRashis(); track $index) {
                        <mat-option [value]="rashi.value">{{rashi.label}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-2">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" placeholder="Enter Email" >
            </mat-form-field>
            <mat-form-field class="col-2">
                <mat-label>Address</mat-label>
                <input matInput type="text" formControlName="address1" placeholder="Enter Address" >
            </mat-form-field>
            <mat-form-field class="col-2">
                <mat-label>Address 2</mat-label>
                <input matInput type="text" formControlName="address2" placeholder="Enter Address 2" >
            </mat-form-field>
            <mat-form-field class="col-2">
                <mat-label>City</mat-label>
                <input matInput placeholder="Enter City" formControlName="city">
            </mat-form-field>
            <mat-form-field class="col-2">
                <mat-label>State</mat-label>
                <input matInput placeholder="Enter State" formControlName="state">
            </mat-form-field>
            <mat-form-field class="col-2">
                <mat-label>Pincode</mat-label>
                <input matInput #postalCode maxlength="5" formControlName="pincode" placeholder="Enter Pincode"
                    value="94043">
            </mat-form-field>
            <div class="offset-10 col-2 d-flex justify-content-end mt-2">
                <button type="submit" mat-flat-button color="primary" [disabled]="sevaDataForm.invalid">Book Seva</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>